*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: bisque;
}
i{
    cursor: pointer;
}
a:link, a:visited{
    color: black;
    text-decoration: none;
}

/* navbar styles */
.navbar{
    background-color: #4caf4f8f;
}

.cart{
    background-color: #ffffff73; 
} 

.cartAmount{
    position: relative;
    float: inline-end;
    font-size: 16px;
}

.logofont{
    font-family: 'Qwitcher Grypen', cursive, "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
}

/* header */
.slogan{
    font-family: 'Qwitcher Grypen', cursive, "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;  
    letter-spacing: 1px; 
}

/* main */

.btn{
    background-color:  #33b249;
}

.btn:hover{
    background-color: red;
}

/* shop items style */
.shop{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
    justify-content: center;
}

@media (max-width: 1000px){
    .shop{
      grid-template-columns: repeat(2, 200px);  
    }
}

@media (max-width: 500px){
    .shop{
      grid-template-columns: repeat(1, 200px);  
    }
}

.item{
    border: 1px solid rgba(0, 0, 0, 0.418);
    border-radius: 10px;
}

.item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

.details{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;  
}
.price-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 20px;
}

.bi-dash-lg{
    color: red;
}

.bi-plus-lg{
    color: green;
}

/* stle rules for label and some buttons */
.text-center{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

.HomeBtn, .removeAll, .out {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.out{
    background-color: green;
}

.removeAll{
    background-color: red;
}

.bi-x-lg{
    color: red;
    font-weight: bold;
}

/* style rules for shopping-cart */
.shopping-cart{
    display: grid;
    grid-template-columns: repeat(3, 320px);
    justify-content: center;
    gap: 30px;
}

/* style rules for  cart-item */
.cart-item{
    border: 1px solid #21252970;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.title-price-x{
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: space-between;   
}

.title-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.cart-item-price{
    background-color: #212529;
    color: white;
    border-radius: 4px;
    padding:3px 6px;
}

/* footer */
.bg-footer{
    background-color: #4caf4f8f;
    border: 1px  solid black;
    padding: 0;
    margin: 0;
} 

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #4caf4f8f;
    padding: 25px 60px;
    margin-top: 30px;
    
}

footer{
    position: fixed;
    bottom: 0;
    padding: 0;
    margin: 0;
}
